.technologies{
    height: 45rem;
    position: relative;
}

.bubblesT{
    position: absolute;
    width: 28rem;
    right: 0;
    top: -20%;
}

.technologiesInfo{
    margin-bottom: 5rem;
}

.technologiesPgraphs{
    display: flex;
    margin-top: 2rem;
}

.technologiesPgraph{
    width: 20rem;
    margin-right: 2rem;
}


.technologiesPgraph img{
    width: 5rem;
}

.technologiesPgraph h3{
    margin: 1.5rem 0;
}